body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  
  color: #5c2a3d;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: #d63384;
}

.swiper {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 15px;
  background-color: #fff0f5;
  padding: 10px;
  box-shadow: 0 0 10px #ffb6c1;
}

.swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

.carousel-text {
  margin-top: 10px;
  font-size: 16px;
  color: #d63384;
}

.music-links {
  margin: 40px auto;
  padding: 20px;
  background-color: #ffe6f0;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 5px #ffb6c1;
}

.music-links a {
  display: block;
  color: #d63384;
  margin: 8px 0;
  text-decoration: none;
}

.moments {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff0f5;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 0 0 5px #ffb6c1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff69b4;
}

.swiper-pagination-bullet {
  background: #ff99cc;
}

body {
  background-color: #ffe6f0;
}
